@page "/cards/ro-z"

@using RallyObedienceApp.Components.Exercise

<h1>RO-Z</h1>

<div>
    <Exercise Id="Start"></Exercise>
    <hr />
    <Exercise Id="Finish"></Exercise>
    <hr />
    <Exercise Id="D0a"></Exercise>
    <hr />
    <Exercise Id="Z-001"></Exercise>
</div>