@page "/cards/ro-z"

@using RallyObedienceApp.Components.Exercise

<h1>RO-Z</h1>

<div>
    <Exercise Id="Start"></Exercise>
    <hr />
    <Exercise Id="Finish"></Exercise>
    <hr />
    <Exercise Id="D0a"></Exercise>
    <hr />
    <Exercise Id="D0b"></Exercise>
    <hr />
    <Exercise Id="D0c"></Exercise>
    <hr />
    <Exercise Id="D0d"></Exercise>
    <hr />
    <Exercise Id="Z-001"></Exercise>
    <hr />
    <Exercise Id="Z-002"></Exercise>
    <hr />
    <Exercise Id="Z-003"></Exercise>
    <hr />
    <Exercise Id="Z-004"></Exercise>
    <hr />
    <Exercise Id="Z-005"></Exercise>
    <hr />
</div>