<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RallyObedienceApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3 dropdown">
            <NavLink class="nav-link" @onclick="()=>expandCards = !expandCards">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cards
            </NavLink>
            @if (expandCards)
            {
                <a class="dropdown-item" href="cards/ro-z">>>> RO-Z</a>
                <a class="dropdown-item" href="cards/ro-1">>>> RO-1</a>
                <a class="dropdown-item" href="cards/ro-2">>>> RO-2</a>
                <a class="dropdown-item" href="cards/ro-3">>>> RO-3</a>
            }
        </div>
        <div class="nav-item px-3 dropdown">
            <NavLink class="nav-link" @onclick="()=>expandParkours = !expandParkours">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parkours
            </NavLink>
            @if (expandParkours)
            {
                <a class="dropdown-item" href="parkours/ro-z">>>> RO-Z</a>
                <a class="dropdown-item" href="parkours/ro-1">>>> RO-1</a>
                <a class="dropdown-item" href="parkours/ro-2">>>> RO-2</a>
                <a class="dropdown-item" href="parkours/ro-3">>>> RO-3</a>
            }
        </div>

    </nav>
</div>

@code {
    private bool expandCards = false;
    private bool expandParkours = false;
}